# path/to/project/root/.eslintignore

# /node*modules/* and /bower*components/* in the project root are ignored by default

# Ignore built files except build/index.js

dist/

# Ignore documentation

docs/
